@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");

/* common styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 1rem;
}

section {
  padding: 5rem 0;
}

.section--head {
  text-align: center;
}

.section--title,
.section--desc {
  margin: 1rem auto;
  text-align: center;
}

.section--desc {
  max-width: 800px;
}

.btn {
  padding: 0.8rem 2rem;
  background-color: crimson;
  border-radius: 0.5rem;
  font-weight: 600;
  width: fit-content;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.btn:hover {
  box-shadow: 0 4px 8px #222;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid--cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.card {
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  border-bottom: 4px solid crimson;
  box-shadow: 0 4px 12px #aaaaaacc;
}

i {
  font-size: 0.9rem;
}
p {
  color: #555;
}

.chip {
  padding: 5px 12px;
  background-color: crimson;
  width: fit-content;
  border-radius: 0.2rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

/* nav */
.nav {
  padding: 0.5rem 0;
  background-color: #222;
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav--container h3 {
  color: #fff;
}

/* hero */
.hero {
  background-color: #f1f2f4;
}

.hero .img--cover {
  height: 150px;
  width: 150px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.hero--title {
  text-align: center;
  margin-top: 1rem;
  font-size: 3rem;
}

.hero--desc {
  text-align: center;
  max-width: 700px;
  margin: auto;
  margin-top: 1rem;
}

.hero .btn {
  margin: auto;
  margin-top: 1.2rem;
}

/* about */
.about .card p {
  margin-top: 0.5rem;
}

/* experience */
.experience {
  background-color: #f1f2f4;
}

.divider {
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin-block: 1rem;
}
/* skills */
.col--flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.col--flex .chip {
  margin-bottom: 0;
}

.skill--card {
  border-bottom: 0;
}

.skill--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress--cover {
  height: 0.3rem;
  width: 100%;
  background-color: #f1f2f4;
  margin-top: 1rem;
}

.html--progress {
  background-color: crimson;
  width: 90%;
  height: 100%;
}
.css--progress {
  background-color: crimson;
  width: 70%;
  height: 100%;
}
.react--progress {
  background-color: crimson;
  width: 80%;
  height: 100%;
}
.next--progress {
  background-color: crimson;
  width: 70%;
  height: 100%;
}
/* portfolio */
.portfolio {
  background-color: #f1f2f4;
}

.portfolio--img--cover {
  position: relative;
  height: 180px;
}
/* testimonial */

.stars {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.star {
  position: relative;
  height: 1.2rem;
  width: 1.2rem;
}

.test--profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.test--img--cover {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 0.5rem;
}
/* footer */
footer {
  background-color: #222;
}

.footer--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

footer p {
  color: #fff;
}

/* responsive */
@media (max-width: 720px) {
  .hero--title {
    font-size: 2rem;
  }
  .grid--cards {
    grid-template-columns: 1fr;
  }

  .portfolio .grid--cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 560px) {
  .portfolio .grid--cards {
    grid-template-columns: 1fr;
  }
  .footer--container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer--container .btn {
    margin-bottom: 1rem;
  }
}
